/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: medium;
}
.navbar {
  display: grid;
  position: absolute;
  top: 20px;
  right: 30px;
  grid-template-rows: 30px;
  grid-template-columns: repeat(4, auto);
  column-gap: 20px;
  align-items: center;
  font-size: small;
}
.nav1 {
  grid-column-start: 1;
}

.nav4 {
  border-radius: 50%;
}

.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 80% repeat(3, 55px) 1fr;
  justify-items: center;
  align-items: center;
  gap: 10px;
}

.item1 {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-column-end: 4;
}

.item2 {
  grid-column-start: 1;
  grid-row-start: 3;
  grid-column-end: 5;
  width: 330px;
  align-self: end;
  border-radius: 15px;
}
.item3 {
  grid-column-start: 2;
  grid-row-start: 4;
  grid-column-end: 3;
  justify-self: end;
}
.item4 {
  grid-column-start: 3;
  grid-row-start: 4;
  grid-column-end: 4;
  justify-self: start;
}
.item5 {
  grid-column-start: 2;
  grid-row-start: 5;
  grid-column-end: 4;
}
.footerl {
  position: absolute;
  bottom: 0px;
  left: 30px;
  display: grid;
  grid-template-rows: repeat(2, 30px);
  grid-template-columns: repeat(4, auto);
  column-gap: 15px;
  grid-template-areas:
    "foot1 . . . "
    "foot2 foot3 foot4 foot5";
}
.foot1 {
  grid-area: foot1;
}
.foot2 {
  grid-area: foot2;
}
.foot3 {
  grid-area: foot3;
}
.foot4 {
  grid-area: foot4;
}
.foot5 {
  grid-area: foot5;
}

.footerr {
  position: absolute;
  bottom: 0px;
  right: 30px;
  display: grid;
  grid-template-rows: 30px;
  grid-template-columns: repeat(3, auto);
  column-gap: 15px;
  grid-template-areas: "foot6 foot7 foot8";
}
.foot6 {
  grid-area: foot6;
}
.foot7 {
  grid-area: foot7;
}
.foot8 {
  grid-area: foot8;
}
